body{
    margin: 0;
    padding: 0;
}

#video-grid{
    display: flex;
    justify-content: center;
    
    

}
video{
    height: 300px;
    width: 400px;
    object-fit: cover;
    border-style: double;
    border-color: #000000;
    padding: 20px 50px;
}

.main{
    height: 100vh;
    display: flex;
}

.main__left{
    flex: 1;
    display: flex;
    flex-direction: column;

}

.main__right{
    flex: 0.2;


}

.main__videos {
    flex-grow: 1;
    border-top-style: double;
    border-top-color: black;
    border-bottom-style: double;
    border-bottom-color: black;
    border-left-style: double;
    border-left-color: black;
    border-right-style: double;
    border-right-color: black;
    background-color: rgba(106, 78, 230, 0.623);
    display: flex;
    justify-content:center;
    align-items: center;
}

.iconify {
     width: 24px; 
     height: 24px;
    
 
}

.main__controls {
    display: flex;
    padding: 5px;
    background-color: #1C1E20;
    color: #D2D2D2;
    justify-content: space-between;
    
    
}

.main__controls__sections {
    display: flex;
}

.main__controls__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
}

.main__controls__button:hover {
     background-color: #343434;
     border-radius: 5px;
}
.main__controls__button3:hover {
    background-color: #343434;
    border-radius: 5px;
    
}

.main__right {
    display: flex;
    flex-direction: column;
    background-color:white;
    border-left: 1px;
    border-left-color: black;
    border-left-style: double;
}
.main__header {
    color: #f5f5f5;
    text-align: center;
    height: 25px;
    background-color: powderblue;
    border-style: double;
    border-color: black;
      

}
.main__chat__window {
    flex-grow: 1;
    overflow-y: scroll;
    height: 620px;
    
}
.main__message__container {
    padding: 22px 12px;
    display: flex;
}
.main__message__container input{
    flex-grow:1;                          /* for input to take the full width */
    height: 30px;
    width: 250px;
    background-color: transparent;
    color: #000000;
}

.messages {
    list-style: none;
    color: black;
}

.iconify1 {
    color: red;
}

.form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 5px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }